<% if session['is_admin'] %>
  <span class="span_menu_name">Administrator: </span>
<% end %>
<span  class="span_menu_name"><%= session['user_name'] %></span>
<% if session['is_authenticated'] %>
  <span><%= link_to 'Users', "/user/index" %></span>
<% end %>
<% if session['is_admin'] %>
  <span><%= link_to 'Create User', "/user/create" %></span>
<% end %>
<span><%= link_to 'Home', "/home/index" %></span>
<% if session['is_authenticated'] %>
  <span><%= link_to 'Logout', "/home/logout" %></span>
<% end %>
<% if not session['is_authenticated'] %>
  <span><%= link_to 'Login', "/home/login" %></span>
<% end %>