<!DOCTYPE html>
<html>
<head>
  <title><%=@title%></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults, 'jquery.uitableedit', 'ready'%>
  <%= csrf_meta_tag %>
</head>
<body>
  <table width="100%">
    <tr>
      <td style="text-align: right; font-size: small">
        <% if session['is_admin'] %> Administrator: <% end %>
        <%= session['user_name'] %> |
        <%  if session['is_authenticated'] %><%= link_to 'Users', "/user/index" %> |<% end %>
        <%= link_to 'Home', "/home/index" %> |
        <%  if not session['is_authenticated'] %><%= link_to 'Login', "/home/login" %> |<% end %>
        <%  if session['is_authenticated'] %><%= link_to 'Logout', "/home/logout" %> |<% end %>
        <%  if session['is_admin'] %><%= link_to 'Create User', "/user/create" %> |<% end %>
      </td>
    </tr>
  </table>
  <h1></h1>
  <table width="100%">
    <tr>
      <td style="vertical-align: top ; width: 15%; background-color: #8dbdd8 ; padding: 10px">
        
      </td>
      <td style="vertical-align: top; padding: 10px">
        <%= yield %>
      </td>
      <td style="vertical-align: top; width: 15%; background-color: #8dbdd8 ; padding: 10px">

      </td>
    </tr>
  </table>
</body>
</html>