<!DOCTYPE html>
<html>
<head>
  <title>Admin</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults, 'jquery.uitableedit', 'ready'%>
  <%= csrf_meta_tag %>
</head>
<body>
  <table width="100%">
    <tr>
      <td style="text-align: right">
        <% if session['is_admin'] %> administrator <% end %>
        <%= session['user_name'] %>|
        <%  if not session['is_authenticated'] %><a href="/home/login">Login</a> |<% end %>
        <%  if session['is_authenticated'] %> <a href="/home/logout">Logout</a> |<% end %>
        <a href="/user/create">Create User</a> |
      </td>
    </tr>
  </table>
  <h1></h1>
  <table width="100%">
    <tr>
      <td style="vertical-align: top ; width: 15%; background-color: #eeeeee; padding: 10px">
        <a href="/user/index">Users</a>
      </td>
      <td style="vertical-align: top; padding: 10px">
        <%= yield %>
      </td>
      <td style="vertical-align: top; width: 15%; background-color: #eeeeee; padding: 10px">

      </td>
    </tr>
  </table>
</body>
</html>