<span style="color: red; font-size: small"><%= @message %></span><br /><br />

<table>
  <% if session['is_admin'] %>    <%# is admin %>
    <tr>
      <td>User name:</td>
      <td>
        <input type="hidden" id="id" name="user[id]" value="<%= @user.id %>" />
        <input type="text" id="username" name="user[username]" value="<%= @user.username %>"/>
      </td>
    </tr>
    <tr>
      <td>Password:</td>
      <td>
        <input type="password" id="password" name="user[password]" />
      </td>
    </tr>
    <tr>
      <td>Confirm password:</td>
      <td>
        <input type="password" id="cfm_password" name="user[cfm_password]" />
      </td>
    </tr>
    <tr>
      <td>Full name:</td>
      <td>
        <input type="text" id="name" name="user[name]" value="<%= @user.name %>" />
      </td>
    </tr>
    <tr>
      <td>Group name:</td>
      <td>
        <select id="group_id" name="user[group_id]">
          <option value="">None</option>
          <% @groups.each do |group| %>
            <% if group.id == @user.group_id %>
              <option value="<%=group.id%>" selected="selected"><%=group.name%></option>
            <% else %>
              <option value="<%=group.id%>"><%=group.name%></option>
            <% end %>
          <%end%>
        </select>
      </td>
    </tr>
    <tr>
      <td>Manager:</td>
      <td>
        <select id="manager_id" name="user[manager_id]">
          <option value="">None</option>
          <% @users.each do |user| %>
            <% if user.id == @user.manager_id %>
              <option value="<%=user.id%>" selected="selected"><%=user.username%></option>
            <% else %>
              <option value="<%=user.id%>"><%=user.username%></option>
            <% end %>
          <%end%>
        </select>
      </td>
    </tr>
    <tr>
      <td>Disabled:</td>
      <td>
        <input type="checkbox" id="disabled" name="user[disabled]"/>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" value="Submit" />
        <input type="button" value="Cancel" onclick="document.location='/user/index'" />
      </td>
    </tr>
  <% else %>    <%# is not admin %>
    <%  if session['is_authorized'] %>      <%# be allowed to edit %>
      <tr>
        <td>User name:</td>
        <td>
          <input type="hidden" id="id" name="user[id]" value="<%= @user.id %>" />
          <%= @user.username %>
        </td>
      </tr>
      <tr>
        <td>Password:</td>
        <td>
          <input type="password" id="password" name="user[password]" />
        </td>
      </tr>
      <tr>
        <td>Confirm password:</td>
        <td>
          <input type="password" id="cfm_password" name="user[cfm_password]" />
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <input type="submit" value="Submit" />
          <input type="button" value="Cancel" onclick="document.location='/user/index'" />
        </td>
      </tr>
    <% else %>
      <a href="/user/index">back</a>
    <% end %>
  <% end %>
</table>