 <h2>List of GNT employees</h2>
 <br />
 <span style="color: red; font-size: small"><%= @message %></span>
 <div align="center">
   <table class="tablesorter" border="0" cellpadding="0" cellspacing="1">
     <thead>
      <tr>
        <th>Group</th>
        <th>Manager</th>
        <th>Username</th>
        <th>Name</th>
        <th>Action</th>
      </tr>
     </thead>
    <% @users.each do |user| %>
    <tbody>
      <tr>
      <td><%= user.group_name(user.group_id) %></td>
      <td><%= user.manager_name %></td>
      <td><%= user.username %></td>
      <td><%= user.name %></td>
      <td>
      <a href="/user/edit?id=<%= user.id %>">edit</a> |
      <a href="/user/delete?id=<%= user.id %>">delete</a> |
      <a href="/timeentries/index?id=<%= user.id %>">working time</a>
      </td>
      </tr>
    </tbody>
    <% end %>
  </table>
 </div>